body{
  background-color: black;
  color: aliceblue;
}

.google-click{
  transform: scale(3);
  margin: 30px;
}

h2{
  padding: 8px 9px;
}

.chatbox{
  border-radius: 20px;
  margin: 5px 0;
  padding: 12px;
  background-color: rgb(44, 0, 218);
}
.me .chatbox{
  background-color: rgb(121, 31, 225);
}

.container{
  display: flex;
  padding: 2px;
}
.container.me{
  flex-direction: row-reverse;
}

.btm{
  position: fixed;
  width: 100%;
  bottom: 2px;
  display: flex;
  flex-direction: row;
}
.btm input{
  padding: 15px;
  flex-grow: 1;
  border-radius: 20px;
}
.btm button{
  border-radius: 25px;
  width: 15%;
}


.chat-container{
  height: 83vh;
  overflow-y:scroll;
  border: 1px;
}